:root {
    /* Функциональные цвета интерфейса */
    --color-primary: #ff6b00; /* Главный акцентный (оранжевый) */
    --color-secondary: #990000; /*  Вторичный акцентный (красный) */

    --color-background: #121212; /* Основной фон сайта (темный) */
    --color-surface: #1c1c1c; /* Фон плашек, меню и панелей */
    --color-border: #2c2c2c; /* Цвет аккуратных рамок */

    --color-text-main: #ffffff; /* Главный читаемый текст */
    --color-text-muted: #888888; /* Подписи, серый текст */
}

/* Сброс стилей */
body {
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #ffffff;
    font-family: system-ui, -apple-system, sans-serif;
    box-sizing: border-box;
}

button, input {
    font-family: inherit;
}