.locationViewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
  display: flex;
  align-items: flex-end;

  .locationBgContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #151a1e;
  
    border: 2px dashed rgba(255, 255, 255, 0.1); 
    box-sizing: border-box;

    .locationBgImg {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .characterSpriteContainer {
    position: absolute;
    bottom: 250px;
    left: 90%;
    transform: translateX(-50%);
    z-index: 2;

    .characterImg {
      max-height: 550px;
      object-fit: contain;
    }
  }

  .locationTextBox {
    display: none; 
  }
}
